body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFA000;

}
.main {

    margin: 0;
    padding: 40px;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#back-link {
    float: left;
    color: #007BFF;
    text-decoration: none;
}

#refresh-link {
    float: right;
    color: #007BFF;
    text-decoration: none;
}

#back-link:hover,
#refresh-link:hover {
    text-decoration: underline;
}

.faq-item {
    margin: 20px 0;
    perspective: 1000px;
}

.faq-question {
    width: 100%;
    text-align: left;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #0088cc;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.faq-question:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);  /* Slightly enlarge instead of translateY */
}

.faq-question:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-45deg);
    transition: transform 0.7s;
}

.faq-question:hover:before {
    transform: translateX(200%) skewX(-45deg);
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq-item.active .faq-answer {
    max-height: 200px; /* This value can be adjusted based on your content. It should be larger than the actual height of your content. */
    padding: 10px 20px;
}




#stickman {
    touch-action: manipulation;
    cursor: pointer;
}

/* Hide the button by default */
/* #requestPermission {
    display: none;
} */

/* Show the button on screens with a max-width of 768 pixels */
/* @media screen and (max-width: 768px) {
    #requestPermission {
        display: block;
    }
} */
@keyframes slideIn {
    0%, 100% {
        transform: translateX(130px) translateY(0) rotate(-45deg);
    }
    50% {
        transform: translateX(65px) translateY(0) rotate(-45deg);
    }
}

#sliding-stickman {
    position: fixed;
    bottom: 50%; /* Adjusts the vertical position to the middle */
    right: 10px;
    transform: translateX(130px) translateY(0) rotate(-45deg); /* Initial position set to off-screen */
    transform-origin: 50% 50%; /* This sets the rotation point to the center of the SVG */
    animation: slideIn 5s forwards 5s; /* 5s is the duration, 5s delay before the animation starts */
    animation-fill-mode: backwards; /* This ensures that during the delay, the styles defined by the 0% keyframe are applied */
}

@keyframes slideInLeft {
    0%, 100% {
        transform: translateX(-130px) translateY(0) rotate(45deg);
    }
    50% {
        transform: translateX(-65px) translateY(0) rotate(45deg);
    }
}

#left-sliding-stickman {
    position: fixed;
    bottom: calc(50% - 400px); /* Adjusts the vertical position to the middle */
    left: 10px;
    transform: translateX(-130px) translateY(0) rotate(45deg); /* Initial position set to off-screen */
    transform-origin: 50% 50%; /* This sets the rotation point to the center of the SVG */
    animation: slideInLeft 5s forwards 10s; /* 5s is the duration, 10s delay before the animation starts */
    animation-fill-mode: backwards; /* This ensures that during the delay, the styles defined by the 0% keyframe are applied */
}

button, .telegram-button {
    background-color: #0088cc; /* Telegram color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded edges */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover, .telegram-button:hover {
    transform: scale(1.05); /* Slightly enlarge when hovered */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
}

button:before, .telegram-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Slight white overlay */
    transform: skewX(-45deg); /* Diagonal effect */
    transition: transform 0.7s;
}

button:hover:before, .telegram-button:hover:before {
    transform: translateX(200%) skewX(-45deg); /* Move overlay on hover */
}



footer {
    /* background-color: #FF8C00; Dark orange color */
    color: #B36B00; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px 0; /* 10px padding top and bottom to give it some space */
    position:relative; /* Fix the footer at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Position at the bottom */
    font-size: 12px; /* Adjust if you want the text bigger or smaller */
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #FFA500; /* Orange */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #FF8C00; /* Darker orange */
    border: 1px solid black;
}

.tab-content {
    text-align: center;


    overflow: auto; /* To handle content overflow */
}


.step {
    background-color: #f7f7f7; /* Light gray background */
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.step h2 {
    margin-top: 0; /* Remove top margin for better alignment */
    color: #333; /* Dark gray text */
}


.coin {
    width: 150px;
    height: 150px;
    position: relative;
    perspective: 1000px;
    margin: 50px;
    animation: spin 5s infinite linear;
}

.coin .side {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: gold;
    border: 2px solid #333;
    backface-visibility: hidden;
}

.coin .front {
    background-image: url('eth-logo.png');
    background-size: cover;
    transform: rotateY(0deg);
}

.coin .back {
    background-image: url('n0thn-logo.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

.coin::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 5%;
    border-radius: 50%;
    background: linear-gradient(0deg, #b87333, gold, #b87333);
    z-index: -1;
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@media (max-width: 768px) {
    /* Adjust the padding for the main container */
    .main {
        padding: 20px;
    }

    /* Increase button sizes for better touch interaction */
    button {
        padding: 15px 30px;
        font-size: 18px;
    }

    /* Adjust the coin size for better visibility */
    .coin {
        width: 100px;
        height: 100px;
        margin: 20px;
    }
}
.token-info-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.token-info-container header, 
.token-info-container section {
    padding: 20px;
    margin-bottom: 20px;
}

.token-info-container h1, 
.token-info-container h2 {
    color: #333;
}

.token-info-container h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.token-info-container p {
    line-height: 1.6;
    color: #666;
}

.token-info-container footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 0 0 5px 5px;
}
