body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#back-link {
    float: left;
    color: #007BFF;
    text-decoration: none;
}

#refresh-link {
    float: right;
    color: #007BFF;
    text-decoration: none;
}

#back-link:hover, #refresh-link:hover {
    text-decoration: underline;
}
.faq-question {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.2s;
    background-color: white;
    color: blue;
    text-decoration: underline;
}

.faq-question:hover {
    background-color: #f1f1f1;
}

.faq-answer {
    display: none;
    padding: 0 10px;
}

