body {
    font-family: Arial, sans-serif;
    background-color: #FFA000;

}
.main {

    margin: 0;
    padding: 40px;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#back-link {
    float: left;
    color: #007BFF;
    text-decoration: none;
}

#refresh-link {
    float: right;
    color: #007BFF;
    text-decoration: none;
}

#back-link:hover,
#refresh-link:hover {
    text-decoration: underline;
}

.faq-question {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.2s;
    background-color: #FFf;
    color: #007BFF;

}

.faq-question:hover {
    background-color: #f1f1f1;
}

.faq-answer {
    display: none;
    padding: 0 10px;
}

#stickman {
    touch-action: manipulation;
    cursor: pointer;
}

/* Hide the button by default */
/* #requestPermission {
    display: none;
} */

/* Show the button on screens with a max-width of 768 pixels */
/* @media screen and (max-width: 768px) {
    #requestPermission {
        display: block;
    }
} */
@keyframes slideIn {
    0%, 100% {
        transform: translateX(130px) translateY(0) rotate(-45deg);
    }
    50% {
        transform: translateX(65px) translateY(0) rotate(-45deg);
    }
}

#sliding-stickman {
    position: fixed;
    bottom: 50%; /* Adjusts the vertical position to the middle */
    right: 10px;
    transform: translateX(130px) translateY(0) rotate(-45deg); /* Initial position set to off-screen */
    transform-origin: 50% 50%; /* This sets the rotation point to the center of the SVG */
    animation: slideIn 5s forwards 5s; /* 5s is the duration, 5s delay before the animation starts */
    animation-fill-mode: backwards; /* This ensures that during the delay, the styles defined by the 0% keyframe are applied */
}

@keyframes slideInLeft {
    0%, 100% {
        transform: translateX(-130px) translateY(0) rotate(45deg);
    }
    50% {
        transform: translateX(-65px) translateY(0) rotate(45deg);
    }
}

#left-sliding-stickman {
    position: fixed;
    bottom: calc(50% - 400px); /* Adjusts the vertical position to the middle */
    left: 10px;
    transform: translateX(-130px) translateY(0) rotate(45deg); /* Initial position set to off-screen */
    transform-origin: 50% 50%; /* This sets the rotation point to the center of the SVG */
    animation: slideInLeft 5s forwards 10s; /* 5s is the duration, 10s delay before the animation starts */
    animation-fill-mode: backwards; /* This ensures that during the delay, the styles defined by the 0% keyframe are applied */
}

button {
    background-color: #FFC107; /* Button color */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFA000; /* Darker shade for hover effect */
}


footer {
    /* background-color: #FF8C00; Dark orange color */
    color: #B36B00; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px 0; /* 10px padding top and bottom to give it some space */
    position:relative; /* Fix the footer at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Position at the bottom */
    font-size: 12px; /* Adjust if you want the text bigger or smaller */
}
